/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Body */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    padding: 1rem;
}

/* Subtitle */
h2 {
    color: purple;
}

/* Table */
table {
    font-size: 0.75rem;
}

/* Number Information */
#numinfo {
    font-size: 1.5rem;
    padding: 1.25rem;
    color: #009B77;
}